.parent{
    background-color: rgb(189, 182, 182);
    padding: 10px;
}

.non{
    background-color: white;
    padding: 10px;
    width: 200px;
    text-align: center;
    margin:10px;
   
}


.fa{
    color: blue;
    text-align:center;
    
}
